.s {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--black-20);
}

.m {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--black-30);
}

.l {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: var(--black-20);
}
